body {
  background-color: #bbbbbb;
  font-family: "Roboto", sans-serif;
}

#header{
  width: 100%;
  height:70;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#header .logo{
height: 70;
width: 200px;

}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

#navbar li a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
  color:#0c0077;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background: #0c0077;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.signup-box {
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 4px;
}

.login-box {
  width: 360px;
  height: 280px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

input[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #eb2e2e;
  color: white;
  font-size: 18px;
}

p {
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
}

.para-2 {
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: -10px;
}

.para-2 a {
  color: #da3731;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}